TZ=Europe/Berlin
HOSTNAME=docker-host

ENABLE_PORTAINER=true
ENABLE_HAWSER=true
ENABLE_PORTWING=true

PORTAINER_PORT=9001
PORTAINER_AGENT_SECRET=
PORTAINER_AGENT_SECRET_FILE=/run/secrets/portainer_agent_secret

HAWSER_PORT=2376
HAWSER_TOKEN=
HAWSER_TOKEN_FILE=/run/secrets/hawser_token
HAWSER_SERVER_URL=

PORTWING_PORT=3000
PORTWING_TOKEN=
PORTWING_TOKEN_FILE=/run/secrets/portwing_token
